body {
  background-color: gray;
  height: 100%;
}

.playersContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /* height: calc(100vh - 331px); */
  /* background-color: rgb(214, 197, 197); */
  border-radius: 5px;
}

.player {
  background-color: rgb(232, 225, 225);
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 10px;
}

.player h2 {
  font-size: medium;
  text-align: center;
  margin: 0;
}

.pickedMove {
  margin-top: 20px;
  width: 100px;
  height: 100px;
  animation-iteration-count: infinite;
}

.gameMessageTxt {
    text-align: center;
}

.btns {
  min-width: 270px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.imgBtn {
  width: 60px;
  height: 60px;
  margin: 10px;
  transition: all 0.2s ease-in-out;
}

.imgBtn:hover {
  transform: scale(1.5);
}

.matchHistoryContainer {
  background-color: rgb(232, 225, 225);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  height: 250px;
  overflow-y: scroll;
}

.mhContentContainer {
  text-align: center;
}

.winHistory {
  color: green;
}

.loseHistory {
  color: red;
}

.drawHistory {
  color: gray;
}
